<!doctype html>
<html>
<head>
  <title>Controle Estoque</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="../model/ConexaoBanco.js"></script>
  <script src="../controller/cadastroController.js"></script>
  <script src="../controller/controller.js"></script>
  <script src="../model/UsuarioDAO.js"></script>
  <script src="../model/Usuario.js"></script>
  <script src="../controller/login.js"></script>
  <script src="../index.js"></script>
  <script src="../test.js"></script>
</head>
<body>

  <p class="logo">LOGO</p>
  <div class="col-md-6 formulario">
  <form action="" method="post" >
    <div class="form-group">
       <div class="input-group">
        <input type="text" class="form-control" id="login" name="login" placeholder="Digite seu login" required  >
        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
       </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="password" class="form-control" id="pass" name="pass" placeholder="Digite sua senha" required  >
        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
      </div>
    </div>
    <a href="register.html" style="background-color: green;" class="btn btn-lg btn-primary btn-block left" id = "bback">Registrar</a>
    <button class="btn btn-lg btn-primary btn-block left" id="bgo" onclick="tela()" type="button">Login</button>
  </form>
  </div>

  <div id="footer">
    <p>Developed by &nbsp&nbsp</p><img src="factos_logo_red.svg">
  </div>
</body>
</html>
