
body{
	background-image: url('fundo2.svg');
	margin:3%;
}

.logo{
	position:absolute;
	font-size: 80px;
	left:100px;
	top:40px;
	color:#800000;

}

.formulario{
	margin-top:200px;
}

#login{
	height: 45px;
}

#pass{
	height: 45px;
}

#bgo{
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	border: 0px;
	float:left;
	margin-top:50px;
	cursor:pointer;
}
#bback{
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	border: 0px;
	float:left;
	margin-top:50px;
	cursor:pointer;
}

#footer {
	position:absolute;
	bottom:10px;
	left:110px;
}

#footer p{
	margin-top:7px;
	font-size: 15px;
	color:#800000;
	float:left;
}
#footer img {
	width: 60px;
}


.quest {
	color: #800000;
	font-size:20px;
	padding-left: 14%;

}

.register {
	margin-top:50px;
}

#topbar {
	background-color: #800000;
	position:fixed;
	width: 100%;
	height: 5%;
	top:0%;
	left: 0%;
}

#topbar p {
	color:white;
	font-weight: bold;
	float:left;
}

#sidebar {
	background-color:#808080;
	position:fixed;
	width: 20%;
	top:5%;
	height: 95%;
	left:0px;
	opacity: .8;
}

#data {
	position:absolute;
	top:20%;
	left:44%;
}

#userbar {
	position:absolute;
	right:1%;
	top:20%;
}

#topbutton {
	margin:5px;

}